<a href="https://colab.research.google.com/github/ZahraDehghani99/Heart-Disease-Health-Indicators-Dataset/blob/main/heart_disease_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd /content/drive/MyDrive/ML_Dr.sajedi/final_proj

/content/drive/MyDrive/ML_Dr.sajedi/final_proj

In [4]:
# !cd /content/drive/MyDrive/ML_Dr.sajedi/final_proj
# !unzip -q archive.zip

In [5]:
DATA_PATH = '/content/drive/MyDrive/ML_Dr.sajedi/final_proj/heart_disease_health_indicators_BRFSS2015.csv'
df = pd.read_csv(DATA_PATH)
df.head()

   HeartDiseaseorAttack  HighBP  HighChol  ...   Age  Education  Income
0                   0.0     1.0       1.0  ...   9.0        4.0     3.0
1                   0.0     0.0       0.0  ...   7.0        6.0     1.0
2                   0.0     1.0       1.0  ...   9.0        4.0     8.0
3                   0.0     1.0       0.0  ...  11.0        3.0     6.0
4                   0.0     1.0       1.0  ...  11.0        5.0     4.0

[5 rows x 22 columns]